.input {
    padding: 0 30px;
    width: 240px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 30px;

    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;

    &:focus {
        background-color: rgba(0, 0, 0, 1);
    }
}

.input::placeholder {
    color: #fff;
}

.button {
    padding: 0 40px;
    height: 60px;
    border-radius: 30px;
    background-color: #00C470;

    font-size: 14px;
    font-weight: 800;
    line-height: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
    
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: #00ad62;
    }

    &:focus {
        background-color: #00a05a;
    }
}