// Ширина и высота линии в иконке
$lineWidth: 20px;
$lineHeight: 3px;

// Размеры контейнера
$width: $lineWidth;
$height: 17px;

.nav-icon {
    width: $width;
    height: $height;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.nav-icon__middle {
    position: relative;
    width: $lineWidth;
    height: $lineHeight;
    background-color: #000;

    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;

        width: $lineWidth;
        height: $lineHeight;
        background-color: #000; 

        transition: transform 0.2s linear, top 0.2s ease-in 0.2s;
    }

    &::before {
        top: -($lineHeight * 2);
    }

    &::after {
        top: $lineHeight * 2;
    }
}


// Active state
.nav-icon.nav-icon--active .nav-icon__middle {
    background-color: transparent;

    &::before, &::after {
        top: 0;
        transition: top 0.2s ease-in, transform 0.2s linear 0.2s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}
