.package {
    padding: 40px 0;
    width: 300px;
    height: 613px;

    background: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
     
    text-align: center;
    color: #fff;
}

.package--special {
    background-color: rgba(48, 79, 254, 0.95);

    & .package__title {
        color: #fff;
    }

    & .package__period  {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.package__header {
    padding: 0 15px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.package__title {
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 1; /* 16px */
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #b2b2b2;

}

.package__price {
    margin-bottom: 15px;
    
    font-size: 80px;
    font-weight: 700;
    line-height: 1; /* 80px */

    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFF;
}

.package__period {
    padding: 0 15px;
    display: inline-block;
    height: 24px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.10);

    font-size: 12px;
    font-weight: 700;
    line-height: 24px; /* 12px */
    letter-spacing: 4px;
    text-transform: uppercase;

    color: #FFF;
}

.package__list {
    margin-bottom: 58px;
    padding: 40px 15px 0;
}

.package__list-item {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }
}

.package__button {
}

.button-outline {
}