.section-price {
    position: relative;
    padding: 90px 0 100px;

    background-image: url("./../../img/prices/prices-bg.jpg");
    background-size: cover;
    background-position: center;

    &::before {
       @extend %overlay;
    }
}

.section-price__content {
}
.container {
}
.section-price__header {
}
.section-price__title {
}
.title {
}
.section-price__subtitle {
}
.subtitle {
}
.section-price__row {
}