.slider {
    position: relative;
}

.slider__arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #f5f5f5;

    transition: background-color 0.2s ease-in;

    &--left {
        top: 53px;
        left: -46px;
        transform: translateX(-100%);
    }

    &--right {
        top: 53px;
        right: -46px;
        transform: translateX(100%);
    }

    path {
        transition: background-color 0.2s ease-in;
    }

    &:hover {
        background-color: #00c470;
    }

    &:hover path {
        stroke: #fff;
    }
}

.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-item__text {
    margin-bottom: 30px;
    padding: 0 5px;

    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 2; /* 36px */
    color: #000;

    p:not(:last-child) {
        margin-bottom: 15px;
    }
}

.slider-item__author {
    display: flex;
    gap: 20px;
    align-items: center;
}

.slider-item__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.slider-item__avatar-desc {
    font-size: 16px;
    font-weight: 500;
}

.slider-item__avatar-title {
    display: block;
    margin-bottom: 5px;
    color: #00C470;

}

.slider-item__avatar-name {
    display: block;
    color: #808080;
}