.footer {
    padding: 70px 0;

    background-color: #1a1a1a;
    color: #fff;
}

.footer__row {
    margin-bottom: 50px;
     
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer__nav-item {
    margin-right: 50px;

    font-size: 16px;
    font-weight: 700;
    line-height: 1; /* 16px */
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;

    transition: color 0.2s ease-in;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: #15D784;
    }
}

.footer__social {
    display: flex;
    gap: 30px;
}

.footer__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: rgba(196, 196, 196, 0.1);
    border-radius: 50%;

    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: #00c470;
    }
}

.footer__copyright {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1; /* 14px */
    color: rgba(255, 255, 255, 0.30);

    p:not(:last-child) {
        margin-bottom: 15px;
    }
}