.section-cta {
    position: relative;
    padding: 83px 0 84px;
    @include bgImage ("./../img/cta/cta-bg.jpg");

    &::before {
        @extend %overlay;
     }
 }

.section-cta__content {
    z-index: 9;
    position: relative;
    text-align: center;
}

.section-cta__title {
    margin-bottom: 40px;

    font-size: 22px;
    font-weight: 500;
    line-height: 1; /* 22px */
    color: #fff;

    span {
        font-weight: 700;
        text-transform: uppercase;
    }
}
