.section-focus {
    padding: 80px 0 40px;
}

.section-focus__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section-focus__content {
    padding-top: 28px;
    width: 470px;
}

.section-focus__header {
    margin-bottom: 30px;
}

.section-focus__title {
    margin-bottom: 30px;
}

.section-focus__text {
    width: 400px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    color: $paragraphColor;

    p:not(:last-child) {
        margin-bottom: 15px;
    }
}